
<html>
<body style=" background-color:grey">
    <table align="center" border="0" cellpadding="0"cellspacing=" 0"
           width="550"bgcolor="white" style="border:2px solid black">
        <tbody>
            <tr>
                <td align="center">
                    <table align="center"border="0"cellpadding="0"
                           cellspacing="0"class="col-550"width="550">
                        <tbody>
                            <tr>
                                <td align="center"style="background-color: #4cb96b;
                                    height: 60px;">

                                    <a href="#" style="text-decoration: none;">
                                        <p style="color:white;
                                           font-weight:bold;">
                                            <img src="[imagePath]" style="max-width:34%;padding:19px"; alt="Sample picture">
                                        </p>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="height: 60px;">
                <td align="center"style="border: none;
                    border-bottom: 2px solid #4cb96b;
                    padding-right: 20px;padding-left:20px">

                    <p style="font-weight: bolder;font-size: 22px;
                       letter-spacing: 0.025em;
                       color:black;">
                        Forgot Password of your Account
                    </p>
                </td>
            </tr>

            <tr style="display: inline-block;">
                <td style="height: 150px;
                    padding: 20px;
                    border: none;
                    border-bottom: 2px solid #361B0E;
                    background-color: white;">

                    <h2 style=" text-align: left;
                        align-items: center;">
                        To Reset The Password of Your Account Click The Link Below:
                    </h2>
                    <p class="data"
                        style="" text-align: justify-all;
                        align-items: center;
                        font-size: 25px;
                        padding-bottom: 12px;"">
                        <a href="[recipientEmail & token]"
                        style="text-decoration: none; color:darkblue;">Click Here Reset Your Password</a>
                        
                    </p>

                    <br /><br />

                    <p style="font-weight: bolder;font-size: 18px;
                       letter-spacing: 0.025em;
                       color:black;">
                        Thank You,

                    </p>
                    <p style="font-weight: bolder;font-size: 18px;
                       letter-spacing: 0.025em;
                       color:black;">
                        &nbsp; &nbsp; &nbsp; &nbsp; Your Application
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>

