<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Portfolio</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' media='screen' href='/assets/css/style.css'>
  <script src='main.js'></script>
</head>

<body>
  <section class="listing-header">
    <div class="row">
      <h1>Portfolio</h1>
      <div class="container">
        <div class="content banner-content">
          <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="All Category" [(ngModel)]="search"aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary" (click)="getData()">Search Now</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="listing">
    <div class="container">
      <div class="content">
          <div class="add-new-project d-flex align-items-center justify-content-between top-bar">
            <h1>Portfolio List</h1>
            <a class="btn btn-theme" [routerLink]="['/add-project']">Add New Project</a>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="category">
                <div class="technology">
                  <h4>Technology</h4>
                  <div class="categories">
                    <div class="form-check" *ngFor="let item of technologyGridResult"  (change)="onTechnologyChange(item,$event)">
                      <input class="form-check-input" type="checkbox" value="{{item.id}}">
                      <label class="form-check-label" for="aspid">
                        {{item.name}}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="border"></div>
                <div class="industry">
                  <h4>Industry</h4>
                  <div class="categories">
                    <div class="form-check" *ngFor="let item of industryGridResult"(change)="onIndustryChange(item,$event)">
                      <input class="form-check-input" type="checkbox" value="{{item.id}}">
                      <label class="form-check-label" for="healthid">
                        {{item.name}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-12">
              <div class="cards">
                <div class="row">
                      <div class="col-md-6" *ngFor="let item of gridResult">
                        <div class="item">
                          <img src={{item.bannerImage}}>
                          <div class="text">
                            <div class="d-flex justify-content-between align-items-center">
                              <p><span *ngFor="let data of item.industries">{{data}}&nbsp;&nbsp;</span></p>
                              <div class="actions">
                                <span class=" me-2" (click)="editProject(item)"><i class="fa fa-pencil"></i></span>
                               <!-- <span class=" me-2"><i class="fa fa-eye"></i></span>-->
                                <span (click)="openDialog(item)"><i class="fa fa-trash"></i></span>
                              </div>
                            </div>
                            <h4 class="name">{{item.title}}</h4>
                            <p class="desc">{{item.summary}}</p>
                            <div class="pills">
                              <span class="badge" *ngFor="let data of item.technologies">{{data}}</span>
                            </div>
                            <button type="button" class="btn btn-primary" (click)="viewProjectDetail(item)">View Details</button>
                          </div>
                        </div>
                      </div> 
                  </div>
              </div>
            </div>
            <kendo-dialog title="Confirmation" *ngIf="open" style="z-index:99999" class="modal-mlaf" (close)="close()" [minWidth]="250" [width]="450">
              <div class="modal-body">
                <div class="form-group">
                  <div class="form-group">
                    <p>Are you Sure you want to delete {{dialogmodel.title}}?</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-sm btn-secondary" (click)="close()">
                  <i class="fa fa-close"></i>
                  Close
                </button>&nbsp;&nbsp;
                <button (click)="deleteProjectById(dialogmodel)" class="btn btn-sm btn-primary">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>
                  Submit
                </button>
              </div>
            </kendo-dialog>
            <mat-paginator #paginator
             class="demo-paginator"
             (page)="handlePageEvent($event)"
             [length]="length"
             [pageSize]="pageSize"
             [showFirstLastButtons]="showFirstLastButtons"
             [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
             [pageIndex]="currentPage"
             aria-label="Select page">
            </mat-paginator>
        </div>
      </div>
    </div>
  </div>
  </section>
</body>
</html>
