<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Sign Up</title>
</head>

<body>

  <!--- ***** Preloader Start ***** 
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
   ***** Preloader End ***** -->

  <section class="login">
    <div class="container-fluid">
      <div class="bg-card">
        <div class="row align-items-center m-0">
          <div class="col-xl-6 col-lg-12">
            <div class="login-wrap d-flex align-items-center">
              <div class="content-left">
                <div class="info">
                    <a href="index.html" class="logo">
                      <img src="assets/images/Logo.png" alt="" class="img-fluid logo-white">
                    </a>
                  <h1>Welcome Back!</h1>
                </div>
                <img src="assets/images/mockup.png" alt="" class="img-fluid mockup">
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12">
            <div class="content">
              <!--<form [formGroup]="signUpForm">-->
              <div class="heading text-center">
                <h1>Sign Up</h1>
                <p>Please fill the required data fields.</p>
              </div>
              <form [formGroup]="signUpForm">
                <div class="input-wrapr">
                  <div class="fields">
                    <div class="input-group">

                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                      <input type="text" class="form-control" formControlName="fullName" placeholder="Full Name" aria-label="Username"
                             aria-describedby="basic-addon1">
                    </div>

                    <small *ngIf="(signUpForm.controls['fullName'].dirty ||signUpForm.controls['fullName'].touched)&& signUpForm.hasError('required','fullName')" class="text-danger">*Full Name is required</small>
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                      <input type="text" class="form-control" formControlName="email" placeholder="Email Address" aria-label="Username"
                             aria-describedby="basic-addon1">
                    </div>
                    <small *ngIf="(signUpForm.controls['email'].dirty||signUpForm.controls['email'].touched) && signUpForm.hasError('required','email')" class="text-danger">*Email is required</small>
                    <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('email','email')" class="text-danger">*Should be a valid email</small>
                    <div class="input-group">
                      <span class="input-group-text"><i class="fa fa-key"></i></span>
                      <input type="password" class="form-control" formControlName="password" [type]="type" placeholder="Password">
                     
                      <span (click)="hideShowPass()" class="fa {{eyeIcon}} icon-right"></span>
                    </div>
                    <small *ngIf="(signUpForm.controls['password'].dirty||signUpForm.controls['password'].touched)&& signUpForm.hasError('required','password')" class="text-danger">*Password is required</small>
                    <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.controls['password'].hasError('minlength')" class="text-danger">*Password length should be at least 8 characters</small>

                    <div class="input-group mb-0">
                      <span class="input-group-text"><i class="fa fa-key"></i></span>
                      <input type="password" class="form-control" formControlName="confirmPassword" [type]="type" placeholder="Confirm Password">
                      
                      <span (click)="hideShowPass()" class="fa {{eyeIcon}} icon-right"></span>
                    </div>
                    <small *ngIf="(signUpForm.controls['confirmPassword'].dirty ||signUpForm.controls['confirmPassword'].touched) && signUpForm.hasError('required','confirmPassword')" class="text-danger">* Confirm Password is required</small>
                    <small *ngIf="signUpForm.controls['confirmPassword'].dirty && signUpForm.controls['confirmPassword'].errors?.['mustMatch']" class="text-danger">*Confirm  Passsword does not match with password </small>
                  </div>
                </div>
                <div class="button-btm">
                  <button (click)="onSignup()" type="submit" class="btn btn-theme w-100">SignUp</button>
                </div>
                <p class="btm-line">Already have an account? <a [routerLink]="['/userlogin']">Login</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </section>


</body>

</html>
