<div class="first-fold">
  <div class="header-wrapr">
    <div class="content">
      <h1 style="font-size: 54px;">Lets create an Impressive portfolio</h1>
      <p>
        Create a professional portfolio to show case your skills and organization best impression for maximum benefit
      </p>
      <div class="btns">
        <a class="btn btn-theme me-3" [routerLink]="['/sign-up']">Try it now </a>
      </div>
    </div>
    <div class="mockup-img">
      <img src="assets/images/mockup.png" alt="">
    </div>
  </div>
</div>


<div id="services" class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
          <h6 id="features" class="sub-title">Best Features</h6>
          <h4>What <em>Folio App</em> Provides</h4>
          <!-- <div class="line-dec"></div> -->
        </div>
      </div>
      <div class="col-lg-12">
        <div class="naccs">
          <div class="grid">
            <div class="row">
              <div class="col-lg-4">
                <div class="menu">
                  <div class="first-thumb active thumb-main">
                    <div class="thumb">
                      <span class="icon"><img src="assets/images/web_design_sfh6jynje84z 1.png" alt=""></span>
                      <p>Login / SignUp</p>
                    </div>
                  </div>
                  <div class="thumb-main">
                    <div class="thumb">
                      <span class="icon"><img src="assets/images/machine_learning_t91q2nsmod4e 1.png" alt=""></span>
                      <p>Generate Portfolio</p>
                    </div>
                  </div>
                  <div class="thumb-main">
                    <div class="thumb">
                      <span class="icon"><img src="assets/images/web_development_zja4x4p67v66 1.png" alt=""></span>
                      <p>Add Projects / Videos</p>
                    </div>
                  </div>
                  <div class="thumb-main">
                    <div class="thumb">
                      <span class="icon"><img src="assets/images/app_development_wyag5dtb2spv 1.png" alt=""></span>
                      <p>Share Portfolio</p>
                    </div>
                  </div>
                  <div class="last-thumb thumb-main">
                    <div class="thumb">
                      <span class="icon"><img src="assets/images/cloud_app_y2b6m97fkbx3 1.png" alt=""></span>
                      <p>Mobile App Viewer</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <ul class="nacc">
                  <li class="active">
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="left-text">
                              <div class="heading-text">
                                <h4>Register yourself or  <span>Login</span></h4>
                              </div>
                              <div class="text-content">
                                <p>
                                  Register yourself into FolioApp with a unique email and avail the best features of creating an impressive portfolio. You must have one account to create a portfolio in FolioApp that helps to securely edit and keep your records under the safe roof
                                  <br> <br>
                                  <!--For example, shopping carts, content management systems, and online forms are typical web applications.-->
                                </p>
                              </div>
                              <div class="ticks-list">
                                <span class="first-point"><i class="fa fa-check"></i>Secure User Profile</span>
                                <span><i class="fa fa-check"></i> Simple Account Creation</span>
                                <span><i class="fa fa-check"></i> Forget Password</span>
                                <span><i class="fa fa-check"></i> Secure Login</span>
                              </div>
                              <a class="btn btn-theme me-3">Request A Demo</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="left-text">
                              <div class="heading-text">
                                <h4>Generate your own  <span>portfolio</span></h4>
                              </div>
                              <div class="text-content">
                                <p>
                                  A portfolio is a better impression of your workings and skills that you need to capture and store under s single roof to showcase to anyone with easy steps. FolioApp helps to generate one with various online tools and its really a fun creating a portfolio
                                  <br> <br>
                                  Organization now a days prefer to have one unique portfolio that demonstrates your working.
                                </p>
                              </div>
                              <div class="ticks-list">
                                <span class="first-point"><i class="fa fa-check"></i> Named Portfolio</span>
                                <span><i class="fa fa-check"></i> Easy manipulation</span>
                                <span><i class="fa fa-check"></i>All skills one roof</span>
                                <span><i class="fa fa-check"></i>Simple Demonstration</span>
                              </div>
                              <a class="btn btn-theme me-3">Request A Demo</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="left-text">
                              <div class="heading-text">
                                <h4>Define your  <span>Projects / Videos</span></h4>
                              </div>
                              <div class="text-content">
                                <p>
                                  Projects are the work experiences or definite works where you have shown your skills and helped various clients in earning money or to solve any specific purpose. Videos on the other hands are the actual evidence showing those works and skills.
                                  <br> <br>
                                  Folio App helps to add multiple projects and videos in your portfolio bind with a unique URL that can be shared with anyone
                                </p>
                              </div>
                              <div class="ticks-list">
                                <span class="first-point"><i class="fa fa-check"></i>Add multiple projects</span>
                                <span><i class="fa fa-check"></i>Multiple videos</span>
                                <span><i class="fa fa-check"></i> Gallery View</span>
                                <span><i class="fa fa-check"></i>Slide Show feature</span>
                              </div>
                              <a class="btn btn-theme me-3">Request A Demo</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="left-text">
                              <div class="heading-text">
                                <h4>Share<span> Portfolio </span></h4>
                              </div>
                              <div class="text-content">
                                <p>
                                  Sharing your portfolio with others in easy steps. Once you have created your portfolio, Folio App provides options to share it on copying the URL and share with anyone. It can be shared on social media websites in a thumbnail manner to as a simple URL.
                                  <br> <br>
                                  Folio App generates a unique URL that is unique to the whole application. This unique string can be used as a key to open portfolio on Folio Mobile mobile
                                </p>
                              </div>
                              <div class="ticks-list">
                                <span class="first-point"><i class="fa fa-check"></i>Unique Key</span>
                                <span><i class="fa fa-check"></i> Unique Portfolio URL</span>
                                <span><i class="fa fa-check"></i>Sharing as a link</span>
                                <span><i class="fa fa-check"></i>Sharing on Social Media</span>
                              </div>
                              <a class="btn btn-theme me-3">Request A Demo</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="left-text">
                              <div class="heading-text">
                                <h4>Mobile App  <span>Viewer</span></h4>
                              </div>
                              <div class="text-content">
                                <p>
                                  Everyone is having handheld  devices and it become safe way to access anything via mobile apps. There are users who don’t want to access information on browsers due to security aspects but they seek for Android / iOS apps for such purpose.
                                  <br> <br>
                                  Folio App also launches mobile apps developed in Hybrid techniques where portfolio created through Folio web application can be accessible on Mobile app through Unique URL and Key generated
                                </p>
                              </div>
                              <div class="ticks-list">
                                <span class="first-point"><i class="fa fa-check"></i> Easy accessibility</span>
                                <span><i class="fa fa-check"></i>Android / iOS app</span>
                                <span><i class="fa fa-check"></i>Secure Information</span>
                                <span><i class="fa fa-check"></i>Easy approach</span>
                              </div>
                              <a class="btn btn-theme me-3">Request A Demo</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ----------------mobile app------------------ -->
<div class="main-banner wow fadeIn get-quote" data-wow-duration="1s" data-wow-delay="0.5s">
  <img src="assets/images/vector2.svg" alt="" class="img-fluid vector3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <div class="row">
                <div class="col-lg-12">
                  <div class="content-title">
                    <h2>Mobile App for <span class="theme-color">Portfolio Viewer</span></h2>
                  </div>
                  <p>
                    Mobile apps are most widely used software now a days. Due to easy handling of devices, everyone
                    prefers to have mobile app giving similar features just like web apps. Folio App has divided its
                    features into two categories where web app is having capability to create portfolio on the fly
                    using browser features but portfolio can be viewed with its unique URL and it gets added into
                    mobile history to view on later. Mobile App makes user a safer way to access their information and
                    without any need to mobile browsers.
                  </p>
                </div>
                <div class="store-icons">
                  <img src="assets/images/google-play.png" class="img-fluid me-2">
                  <img src="assets/images/apple-store.png" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="assets/images/mobile-app.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/images/vector3.svg" alt="" class="img-fluid vector4">
</div>
<!--   First Fold Ends -->

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <div class="row align-items-center">
                <div class="col-lg-12">
                  <div id="aboutus" class="content-title">
                    <span class="sub-title">About Us</span>
                    <h2>What is <span class="theme-color">FOLIO</span>APP?</h2>
                    <div class="line-dec"></div>
                  </div>
                  <p>
                    FolioApp helps organizations and individual to create one professional portfolio to showcase their workings, skills, past projects and many other live app links. It generates one organization specific unique URL
                    that can be shared as a link or on social media apps. It secure and safe way to build and profile and share it with anyone. Mobile App helps to view portfolio of anyone via unique URL or string key generated automatically via FolioApp.
                  </p>
                </div>
                <div class="col-lg-12">
                  <div class="border-first-button scroll-to-section">
                    <a class="btn-theme" [routerLink]="['/userlogin']">Login</a>
                    <a class="btn-theme signup-btn" [routerLink]="['/sign-up']">Signup</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="assets/images/about-img.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--contact us-->

<div class="main-banner wow fadeIn get-quote contact-form" id="contact" data-wow-duration="1s" data-wow-delay="0.5s">
  <img src="assets/images/vector2.svg" alt="" class="img-fluid vector3">
  <div class="container">
    <div class="left-content">
      <div class="content-title">
        <h2>Contact <span class="theme-color">Us</span></h2>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="left-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
          <div class="card text-start">
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameInput">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Description</label>
              <textarea class="form-control" rows="4"></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailInput">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 align-self-center mobile-d-none">
        <div class="left-content show-up header-text wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
          <img src="assets/images/contact.svg" alt="" class="img-fluid contact">
        </div>
      </div>
    </div>
  </div>
  <img src="assets/images/vector3.svg" alt="" class="img-fluid vector4">
</div>

<div class="logos-wrapr">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="logos d-flex align-items-center justify-content-center flex-wrap">
          <img src="assets/images/logo1.png" alt="" class="img-fluid">
          <img src="assets/images/logo2.png" alt="" class="img-fluid">
          <img src="assets/images/logo3.png" alt="" class="img-fluid">
          <img src="assets/images/logo4.png" alt="" class="img-fluid">
          <img src="assets/images/logo6.png" alt="" class="img-fluid">
          <img src="assets/images/logo7.png" alt="" class="img-fluid">
          <img src="assets/images/logo8.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>


