html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login {
  background-image: url('../../../assets/images/bg-login.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: top;
}

.login {
  position: relative;
}

  .login .input-group {
    margin-bottom: 30px;
  }

    .login .input-group span {
      background: #EFEFEF;
      border: 0;
      border-radius: 10px;
      height: 50px;
      padding-left: 30px;
      color: #000;
    }

    .login .input-group input {
      background: #EFEFEF;
      border: 0;
      padding-left: 0;
      border-radius: 0 10px 10px 0;
      font-size: 18px;
    }

    .login .input-group .icon-right {
      padding-left: 0;
      padding-right: 30px;
    }

  .login .heading {
    margin-bottom: 60px;
  }

.login-wrap {
  height: 100vh;
}

.content-left {
  padding: 50px;
}

.login .heading h1 {
  margin-bottom: 16px;
  color: #000;
  font-weight: 600;
  font-size: 42px;
}

.login .heading p {
  font-weight: 500;
  font-size: 18px;
  color: #7B7B7B
}

.login .btn-theme {
  background: #FF6F69;
  color: #fff;
  padding: 12px 30px;
  border-radius: 10px;
  font-size: 20px;
}

.login .btn-google {
  background: linear-gradient(0deg, #EFEFEF, #EFEFEF), #FFFFFF;
  border-radius: 10px;
  color: #000;
  font-size: 14px;
}

.btn-google img {
  width: 24px;
  margin-right: 10px;
}

.input-wrapr {
  margin-bottom: 60px;
}

.login .frgt {
  font-weight: 500;
  font-size: 16px;
  color: #7b7b7b;
  display: block;
  text-align: right;
  margin-top: 10px;
}

.btm-line {
  font-size: 16px;
  text-align: center;
  color: #7B7B7B;
  font-weight: 500;
  margin-top: 20px;
}

.divider-text {
  font-size: 16px;
  margin: 30px 0;
}

.btm-line a {
  color: #000 !important;
}

.info {
  margin-bottom: 80px;
  margin-left: 50px;
}

  .info .logo-white {
    width: 220px;
    margin-bottom: 40px;
  }

  .info h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
  }

.login .content {
  padding: 50px 80px;
}

.form-control:focus {
  box-shadow: unset;
}


@media only screen and (min-width: 991.98) and (max-width: 1024.98px) {
  .login .content {
    padding: 50px 0px;
  }

  .login .btn-google {
    padding: 12px 20px;
  }
}

@media (max-width: 1024.98px) {
  .content-left {
    padding: 120px;
  }
}

@media (max-width: 768.98px) {
  .login {
    background: #2c045c;
  }

    .login img.mockup {
      display: none;
    }

  .login-wrap {
    height: unset;
    display: block !important;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .content-left {
    padding: 30px;
  }

  .login .content {
    padding: 30px;
  }

  .login .heading h1 {
    color: #fff;
  }

  .login .heading p {
    color: #999999;
  }

  .login .frgt {
    color: #fff;
  }

  .btm-line {
    color: #999;
  }

    .btm-line a {
      color: #fff !important;
    }
}

@media (max-width: 425.98px) {
  .info h1 {
    font-size: 24px;
  }

  .login .heading h1 {
    font-size: 30px;
    margin-bottom: 12px;
  }

  .login .heading p {
    font-weight: 500;
    font-size: 16px;
    color: #7B7B7B;
  }

  .login .content {
    padding: 10px;
  }

  .btm-btns a:first-child {
    margin-right: 0 !important;
    margin-bottom: 10px;
  }
}
